<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <div>
        <form method="post" action="/new">
            <label for="name">Name: </label><br>
            <input name = "messageUser"type="text" id="name" ><br><br>
            <label for="message">Message: </label><br>
            <input name="messageText" type="text" id="message" ><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>