<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
</head>
<body>
   <div><p><%= title %></p></div>
   <div>
    <% for(let i=0; i<messages.length; i++){ %>
        <ul>
            <li> Message: <%= messages[i].text %></li>
            <li> From: <%= messages[i].user %></li>
            <li> Date: <%= messages[i].added %></li>
        </ul>
    <% } %>
   </div>
   <button><a href="/new">Add message</a></button>
</body>
</html>